.image {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("../../assets/images/HomePage.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
